/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */
#container
{
    margin:0 auto;
    width:1024px;
    height: 1500px;
    background-image: url("pics/coffey.jpg");
    background-size: 1024px 400px;
    background-repeat: no-repeat;
}
#topbar
{
    height:20px;
    float:left;
    text-align:right;
    color:white;
    background-color: #3B372F;
    width:1024px;
}
a[href="#maincontent"]
{opacity:0;}

#menu
{
    background-image: url("pics/coffey.jpg");
    background-size: 1024px 400px;
    background-repeat: no-repeat;
}

#menu ul 
{
    position:relative;
    top:345px;
    list-style-type:none;
    height:70px;
    background-color:#51473D;
}
#menu ul li
{
    float:left;
}
#menu  a
{
    text-decoration:none;
    padding: 1em 2.5em;
    color: #DCE7C5;
    position:relative;
    top:23px;
    right:33px;
    background-color: #8B7D6B;
}
#menu ul li a:hover
{
    background-color: #9C9084;
}

#menu .active a
{
    background-color: #EAE7D2;
    color: #797066 ;
}

#content
{
    height:650px;
    width:1024px;
    float:left;
    color: #8B7D6B;
    background-color:#EAE7D2;
    font-size:150%;
    position:relative;
    top:315px;
}

img
{
    float:left;
    height:200px;
    width:200px;
}
#maincontent
{
    float:left;
    text-align:left;
    width:512px;
    height:600px;
}
#subcontent
{
  float:left;
  width:512px;
}

#bottomcontent
{
    float:left;
    width:513px;
}
